services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app 
    depends_on:
      - minio
    ports:
      - '3000:3000'
    environment:  
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_FORCE_PATH_STYLE: ${S3_FORCE_PATH_STYLE}
      PORT: ${PORT}
  rustfs:
    image: 'rustfs/rustfs:latest'
    ports:
        - '${FORWARD_RUSTFS_PORT:-9000}:9000'
        - '${FORWARD_RUSTFS_CONSOLE_PORT:-9001}:9001'
    environment:
      RUSTFS_VOLUMES: /data
      RUSTFS_ADDRESS: '0.0.0.0:9000'
      RUSTFS_CONSOLE_ADDRESS: '0.0.0.0:9001'
      RUSTFS_CONSOLE_ENABLE: 'true'
      RUSTFS_EXTERNAL_ADDRESS: ':9000'
      RUSTFS_CORS_ALLOWED_ORIGINS: '*'
      RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS: '*'
      RUSTFS_ACCESS_KEY: ${S3_ACCESS_KEY_ID}
      RUSTFS_SECRET_KEY: ${S3_SECRET_ACCESS_KEY}
      RUSTFS_LOG_LEVEL: info
    volumes:
        - 'ota-rustfs:/data'

volumes:
   ota-rustfs:
        driver: local