services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app 
    depends_on:
      - minio
    ports:
      - '3000:3000'
    environment:  
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_FORCE_PATH_STYLE: ${S3_FORCE_PATH_STYLE}
      PORT: ${PORT}
  minio:
    image: minio/minio:latest
    container_name: minio
    # ports:
    #   - "9000:9000"   # BU S3/API
    #   - "9001:9001"   # BU UI
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"
